<div class="container vh-100 d-flex justify-content-center align-items-center">
  <div class="auth-card col-md-5 col-md-6  col-12">

    <h3 class="text-center mb-4">Create Account</h3>

    <form [formGroup]="form" (ngSubmit)="submit()">

      <!-- Name -->
      <div class="mb-3">
        <input class="form-control"
               placeholder="Full Name"
               formControlName="name">

        <div class="error" *ngIf="f['name'].touched && f['name'].invalid">
          Name is required
        </div>
      </div>

      <!-- Email -->
      <div class="mb-3">
        <input type="email"
               class="form-control"
               placeholder="Email"
               formControlName="email">

        <div class="error" *ngIf="f['email'].touched && f['email'].invalid">
          Valid email required
        </div>
      </div>
 <!-- Phone -->
      <div class="mb-3">
        <input type="string"
               class="form-control"
               placeholder="Phone"
               formControlName="phone">

        <div class="error" *ngIf="f['phone'].touched && f['phone'].invalid">
          Phone number is required
        </div>
      </div>

         <!-- Country -->
        <div class="mb-3">
        <input type="string"
               class="form-control"
               placeholder="Country"
               formControlName="country">
        <div class="error" *ngIf="f['country'].touched && f['country'].invalid">
            Country is required
        </div>
      </div>
      <!-- Password -->
      <div class="mb-3">
        <input type="password"
               class="form-control"
               placeholder="Password"
               formControlName="password">

        <div class="error" *ngIf="f['password'].touched && f['password'].invalid">
          Minimum 6 characters
        </div>
      </div>

      <!-- Confirm Password -->
      <div class="mb-3">
        <input type="password"
               class="form-control"
               placeholder="Confirm Password"
               formControlName="password_confirmation">

        <div class="error" *ngIf="form.errors?.['mismatch'] && f['password_confirmation'].touched">
          Passwords do not match
        </div>
      </div>

      <!-- Error Message -->
      <div class="alert alert-danger text-center mb-2" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>

      <!-- Button -->
      <button class="btn btn-primary w-100 d-flex justify-content-center align-items-center"
              [disabled]="loading || form.invalid">

        <span *ngIf="!loading">Register</span>

        <div *ngIf="loading" class="spinner"></div>

      </button>

    </form>

    <!-- Redirect -->
    <div class="text-center mt-3">
      Already have an account?
      <a [routerLink]="['/login']">Login</a>
    </div>

  </div>
</div>